operator ALL=(ALL) NOPASSWD: /bin/systemctl start mywebapp
operator ALL=(ALL) NOPASSWD: /bin/systemctl stop mywebapp
operator ALL=(ALL) NOPASSWD: /bin/systemctl restart mywebapp
operator ALL=(ALL) NOPASSWD: /bin/systemctl status mywebapp
operator ALL=(ALL) NOPASSWD: /bin/systemctl reload nginx
