[Unit]
Description=Gunicorn instance to serve TaskTrack
After=network.target

[Service]
User=app
Group=www-data
WorkingDirectory=/home/student/TaskTrack
Environment="PATH=/home/student/TaskTrack/.venv/bin"
ExecStartPre=/bin/rm -f /home/student/TaskTrack/mywebapp.sock
ExecStart=/home/student/TaskTrack/.venv/bin/gunicorn --workers 3 --bind unix:/home/student/TaskTrack/mywebapp.sock -m 007 app:app

[Install]
WantedBy=multi-user.target
